#!/usr/bin/env bash

# Preferred
alias ls="ls -AGF"
alias ll="ls -lh"
alias cp="cp -i"
alias mv="mv -i"
alias mkdir="mkdir -p"
alias tree="tree -aF -I '.git|node_modules' -L 2"
alias grep="grep -i --color=auto"

# Shortcuts
alias ..="cd .."
alias ...="cd ../.."
alias dots="cd ~/.dotfiles"
alias dbx="cd ~/Dropbox"
alias bin="cd ~/.bin"
alias dt="cd ~/Desktop"

# Node
alias ni="npm install"
alias nis="npm install --save"
alias nisd="npm install --save-dev"

# Misc
alias ip="curl http://icanhazip.com"
alias lip="ipconfig getifaddr en0"
alias server="http-server . -o -p 9000 -c-1"
