#!/usr/bin/env bash

# Preferred
alias ls="ls -AGF"
alias ll="ls -lh"
alias cp="cp -i"
alias mv="mv -i"
alias mkdir="mkdir -p"
alias tree="tree -aF -I '.git|node_modules'"
alias grep="grep -i --color=auto"
alias top="htop"

# Shortcuts
alias ..="cd .."
alias ...="cd ../.."
alias dots="cd ~/.dotfiles"
alias dbx="cd ~/Dropbox"
alias bin="cd ~/.bin"
alias dt="cd ~/Desktop"

# Node
alias ni="npm install"
alias nu="npm uninstall"
alias nis="npm install --save"
alias nus="npm uninstall --save"
alias nisd="npm install --save-dev"
alias nusd="npm uninstall --save-dev"

# Misc
alias ip="curl http://icanhazip.com"
alias lip="ipconfig getifaddr en0"
alias serve="serve -p 7000"
alias mirror="wget --mirror --html-extension"
