[user]
	name = Cam Wiegert
	email = cam@camwiegert.com
	username = camwiegert
[core]
	excludesfile = $HOME/.gitignore
	editor = vim
[color]
    ui = auto
[alias]
    lo = log --oneline --graph
    br = branch
    st = status
    co = checkout
    ci = commit
    df = diff
[push]
	default = simple
