[user]
    email = cam@camwiegert.com
    name = Cam Wiegert

[core]
    editor = vim
    excludesfile = $HOME/.gitignore

[color]
    ui = auto

[alias]
    br = branch
    ci = commit -v
    co = checkout
    df = diff
    lo = log --oneline --graph
    st = status
    sw = switch

[log]
    abbrevCommit = true
    date = relative

[push]
    default = simple

[pull]
    ff = only

[advice]
    statusHints = false

[init]
    defaultBranch = main

[checkout]
    defaultRemote = origin
