[user]
    email = cam@camwiegert.com
    name = Cam Wiegert

[core]
    editor = vim
    excludesfile = $HOME/.gitignore

[color]
    ui = auto

[alias]
    br = branch
    ci = commit -v
    cm = commit -m
    co = checkout
    df = diff -p --stat
    ec = config --global -e
    lo = log --oneline --graph
    st = status

[push]
    default = simple

[advice]
    statusHints = false
